@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Source+Sans+Pro&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  width: 100vw;
  height: 100vh;

  background-image: url(/assets/img/background-main.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.termometros {
  display: flex;
  width: 100%;
  padding: 45px;
  position: absolute;
  justify-content: space-between;
}

.termometro {
  min-width: 60px;
  max-width: 200px;
}

.section {
  display: flex;

  position: relative;
  color: white;

  background-image: radial-gradient(
  rgba(0, 0, 0, 0.8) 50%,
  rgba(78, 78, 78, 0.8) 
  );

  box-shadow: 0px 0px 15px rgba(149, 149, 149, 0.5);

  width: 50%;
  height: 300px;
  border-radius: 5px;

  justify-content: center;
  align-items: center;
}

.section h1 {
  display: block;
  position: absolute;

  top: 40px;
  width: 320px;
}

.section h1 span {
  font-size: 14px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 10px;

  margin-top: 40px;
  margin-right: 20px;
  justify-content: center;
  align-items: center;
}

.container label,
.container div {
  margin-left: 20px;
}

.container label:nth-of-type(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-left: 66px;
}

.container h2 {
  font-size: 16px;
}

.container p {
  display: inline;
  font-weight: bolder;
}

.container .input::-webkit-inner-spin-button {
  display: none;
}

.container input[type='number'] {
  text-align: end;
  width: 70px;
  height: 25px;
  padding-left: 5px;
  padding-right: 10px;
  border-radius: 3px;
  border: none;
}

.container input[type='number']:focus,
.container input[type='number']:hover {
  text-decoration: none;
  outline: none;
  border: none;
}

.container .btn {
  display: inline-block;
  color: white;
  font-weight: bolder;
  font-size: 14px;
  text-align: center;
  padding-top: 2px;
  padding-right: 5px;
  padding-left: 2px;

  width: 30px;
  height: 25px;
  background-color: rgba(0, 132, 255, 0.7);

  text-decoration: none;
  border: none;
  border-radius: 3px;
}

.container .btn:hover {
  background-color: rgb(0, 132, 255);
}

.container label .active-btn {
  border: 1px solid rgba(255, 255, 255, 0.198);
  box-shadow: inset 0px 0px 3px rgb(255, 255, 255);
  background-color: rgb(0, 132, 255);
}

@media (max-width: 1440px) {
  .section h1 {
    font-size: 32px;
  }

  .section h1 span {
    font-size: 24px;
  }

  .container h2 {
    font-size: 32px;
  }

  .container .btn {
    font-size: 24px;
  }

  .section {
    width: 90vw;
    height: 70vh;
  }
}

@media (max-width: 1280px) {
  .section {
    width: 50%;
    height: 300px;
  }

  .section h1 {
    font-size: 22px;
    margin-bottom: 25px;
  }
  .container h2 {
    font-size: 18px;
  }

  .section h1 span,
  .container .btn {
    font-size: 14px;
  }
}

@media (max-width: 768px) {

  .termometro {
    width: 150px;
  }

  .section {
    width: 90vw;
    height: 70vh;
  }

  .section h1 {
    margin-left: 10px;

    top: 50px;
    width: 260px;
  }
}

@media (max-width: 620px) {

  .termometros {
    padding: 50px;
  }

  .termometro {
    max-width: 100px;
  }

  .section h1 {
    width: 210px;
  }

  .section h1 span {
    font-size: 12px;
    display: block;
    margin: 2px;
  }

  .container h2 {
    font-size: 14px;
  }
}

@media(max-width: 520px) {
  .termometro {
    display: none;
  }
}

@media (max-width: 395px) {
  .section {
    margin-top: 80px;
  }

  .container h2 {
    width: 90px;
  }
}
